{% extends "blog/base.html" %}
{% block content %}
<div class="menu">
    <div id="xxl" class="content-section" style="margin-left:auto;margin-right:auto">
        <div class="landscape">
            <div class="landscape-left" style="float:left">
                <img id="aboutphoto" src="/media/about.png">
            </div>
            <div class="landscape-right">
                <p>Medhelp is a platform meant to deepen the connection betweeen a medic and his/her patients.
                    This is achieved via a series of interactions between the two, which normally would occur face to face.
                </p>
                <p>
                    Our platform breaks down the difficulties behind these types of interactions by having a remote connection between the two parties.
                    The website provides a series of functionalities regarding appointments and prescriptions, all of which have made the way one interacts with one's medic much simpler.
                </p>
            </div>
        </div>


    </div>
</div>
{% endblock content %}
